body {
 background-image: url("bacg.jpg") ;
 background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  background: #3e8e8e;
  border: 2px solid red;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}
button:active {
  background-color: #d9d9d9;
  transform: scale(0.95);
}
button.delete {
  background-color: #ff5d5d;
  color: #fff;
  box-shadow: 0 2px 6px rgba(255, 93, 93, 0.4);
}

button.delete:hover {
  background-color: #ff7373;
}

button.delete:active {
  background-color: #dd0000;
  transform: scale(0.95);
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}
label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  
  padding: 11px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-bottom: 20px;
}


.generate-password{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #007904;
  color: white;
  padding: 10px;
  font-size: 1rem;

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  
}

.copy-password{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
  color: rgb(255, 0, 0);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.generate-password:hover {
  background-color: #8f8f8f;
  color: black;
}
.copy-password:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}
pre {
  display: none;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #eeeeeec2;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-bottom: 20px;
}
img{
 width: 65px;
 height: 65px;
}
.fbimg{
margin-right:50px;
margin-left: 50px;

}
hr{
  width: 80%;
  height: 2px;
  font-size: 16px;
  
}
p {
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  line-height: 25px;
 
  padding: 10px;
}
.title
{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(156, 11, 11);
}
.numlable{
  display: inline-block;
  margin-right: 00px;
  padding: 10px; ;
  margin-bottom:00px;
}
a:hover{
  transform: scale(3);
  filter: grayscale(80%);
  opacity: 0.8;
}
fieldset{
  background: scroll;

  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(97, 90, 90);
}
#datetime {
  text-align: center;
 
  display: inline-block;
  padding: 10px;
  background-color: #034b01;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  animation: pulse 1s ease-in-out infinite;
  color: #fff;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.03);
  }
  100% {
      transform: scale(1);
  }
}















* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.social {
  
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2 {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #ffff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
}

.text2:hover {
  width: 200px;
}

.text3 {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3 ease-out;
}

.text2:nth-child(1):hover .text3{
  background: #4065b1;
}

.text2:nth-child(2):hover .text3{
  background: #f60002;
}

.text2:nth-child(3):hover .text3{
  background: #fb3c7c;
}

.text2:nth-child(4):hover .text3{
  background: #1cea49;
}

.text3 a {
  color: #000;
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.text2:hover .text3 a {
  color: white;
}

.text2 span {
  font-size: 23px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.text2:nth-child(1) span{
  color: #4065b1;
}

.text2:nth-child(2) span{
  color: #f60002;
}

.text2:nth-child(3) span{
  color: #ec31e3;
}

.text2:nth-child(4) span{
  color: #1cea49;
}
