body {
 background-image: url("bacg.jpg") ;
 background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  background: #3e8e8e;
  border: 2px solid red;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #8f8f8f;
  color: black;
}
pre {
  font-size: 2rem;
  font-family: monospace;
  background-color: #eeeeeec2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
img{
 width: 65px;
 height: 65px;
}
.fbimg{
margin-right:50px;
margin-left: 50px;

}
hr{
  width: 80%;
  height: 2px;
  font-size: 16px;
  
}
p {
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  line-height: 25px;
  border: 1px solid #ccc;
  padding: 10px;
}
.rpg
{
  font-size: 75px;
  color: rgb(192, 31, 31);
}
.numlable{
  display: inline-block;
  margin-right: 00px;
  padding: 10px; ;
  margin-bottom:00px;
}
a:hover{
  transform: scale(3);
  filter: grayscale(80%);
  opacity: 0.8;
}
fieldset{
  background: scroll;

  padding: 10px;
  margin: 10px;
  border: none;
}

















* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.social {
  
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2 {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #ffff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
}

.text2:hover {
  width: 200px;
}

.text3 {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3 ease-out;
}

.text2:nth-child(1):hover .text3{
  background: #4065b1;
}

.text2:nth-child(2):hover .text3{
  background: #f60002;
}

.text2:nth-child(3):hover .text3{
  background: #fb3c7c;
}

.text2:nth-child(4):hover .text3{
  background: #1cea49;
}

.text3 a {
  color: #000;
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.text2:hover .text3 a {
  color: white;
}

.text2 span {
  font-size: 23px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.text2:nth-child(1) span{
  color: #4065b1;
}

.text2:nth-child(2) span{
  color: #f60002;
}

.text2:nth-child(3) span{
  color: #ec31e3;
}

.text2:nth-child(4) span{
  color: #1cea49;
}